body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1 {
    margin-bottom: 20px;
}
#data {
    margin-bottom: 20px;
    text-align: center;
}
canvas {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
	body {
    	font-size: 14px;
	}
}
